<div class = "container">
	<div class="alert alert-info" ng-show="message.length>0">{{message}}</div>
	<form class="form-inline" name="formProtocolo">
		<div class="container">
			<h2>Localizar Protocolo</h2>
			<hr />
			<div class="form-group">
				<label class="sr-only">Protocolo:</label> <input
					ng-model="numProtocolo" type="text" class="form-control" />
			</div>
			<button type="submit" id="btSummit" name="btSummit"
				class="btn btn-primary" ng-click="buscarProcotolo(numProtocolo)">Buscar</button>
		</div>
	</form>
	
	<form class="form-horizontal" name="frmBolsa">
		<div class="container">
	
			<h2>Dados Doador</h2>
			<hr />
			<div class="form-horizontal">
				<div class="form-group">
					<div class='col-sm-6'>
						<label>Nome:</label> <input type="text" class="form-control"
							id="nome_agenda_doador" name="nome_agenda_doador"
							placeholder="Adicione o nome completo"
							ng-model="agenda.doador.nome" value="agenda.doador.nome"
							ng-required="true" ng-minlength="6" ng-disabled="true" />
					</div>
				</div>
	
				<div class="form-group">
					<div class='col-sm-6'>
						<label>Rg:</label> <input type="text" class="form-control"
							name="rg_doador" id="rg_doador" placeholder="Adicione o rg"
							ng-model="agenda.doador.rg" value="agenda.doador.rg"
							ng-required="true" ng-disabled="true" />
					</div>
				</div>
	
				<h2>Dados Laboratório</h2>
				<hr />
				<div class="form-horizontal">
					<div class="form-group">
						<div class='col-sm-6'>
							<label>Nome:</label> <input type="text" class="form-control"
								id="nome_agenda_laboratorio" name="nome_agenda_laboratorio"
								placeholder="Adicione o nome completo"
								ng-model="agenda.laboratorio.nome"
								value="agenda.laboratorio.nome" ng-required="true"
								ng-minlength="6" ng-disabled="true" />
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class='col-sm-6'>
						<label>Cnpj:</label> <input type="text" class="form-control"
							name="cnpj_lab" id="cnpj_lab" placeholder="Adicione o cnpj"
							ng-model="agenda.laboratorio.cnpj" value="agenda.laboratorio.cnpj"
							ng-required="true" ng-disabled="true" />
					</div>
				</div>
				
			</div>
	
			<div class="container">
				<h2>Tipo Sanguineo</h2>
				<hr />
				<div class="form-group">
					<div class='col-sm-6'>
						<label>Nome: <select class="form-control"
							ng-model="bolsa.tipoSanguineo"
							ng-options="tipo for tipo in tiposSangue">
								<option value="">Selecione o tipo sanguineo</option>
						</select>
						</label>
					</div>
				</div>
			</div>
	
			<div class="container">
				<h2>Observações</h2>
				<hr />
				<textarea type="text" class="form-control" name="bolsa_descricao"
					id="bolsa_descricao" placeholder="Adicione as observações"
					ng-model="bolsa.observacao" ng-required="true">
			</textarea>
			</div>
			<div class="container">
				<button type="submit" id="btSummitBolsa" name="btSummitBolsa"
					class="btn btn-primary" ng-click="adicionaBolsa(bolsa,agenda)">Salvar</button>
			</div>
		</div>
	</form>
</div>