<div class ="container">
  <div ng-show="agendas.length == 0">
  	<h3>Não existe nenhum item na lista.</h3>
  </div>
  <div class="alert alert-info" ng-show ="message.length>0"> {{message}}</div>
  <div ng-show="bolsas.length > 0">
	<h2>Bolsas de Sangue</h2>
  	<hr/>
    <div class="panel panel-default" ng-repeat="bolsa in bolsas">
      <div class="panel-heading">
        <h3 class="panel-title">Número de rastreio: {{bolsa.numRastreamento}}</h3>
      </div>
      <div class="panel-body">
       	<p><label>Nome Doador:</label>{{bolsa.doador.nome}}</p>
       	<p><label>Tipo Sanguineo:</label>{{bolsa.tipoSanguineo}}</p>
       	<p><label>Data Coleta:</label>{{bolsa.dataColeta}}</p>
       </div>
      <div class="panel-footer">
        <a class="btn btn-default ng-class="{active: activetab==
        '/mostra'}" role="button" href="#/detalhesBolsa/{{bolsa.id}}">Exibir</a>
     </div>
    </div>
  </div>
</div>