body {
  padding-top: 50px;
   font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,sans-serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*Deixando o site responsivel*/
@media(max-width: 1199px){
  .jumbotron h1{
    font-size: 56px;
    margin-bottom: 30px;
  }
}


@media(max-width: 991px){
  .jumbotron h1{
    font-size: 44px;
  }

  .jumbotron p{
    padding-top: 0 10px;
  }

  #get-involved .col-md-4{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


@media(max-width: 767px){
  .jumbotron h1{
    font-size: 24px;
  }

  .jumbotron p{
    font-size: 16px;
    padding: 0;
  }

  .btn-lg{
    font-size: 18px;
  }

  .homepage p{
    font-size: 18px;
}

  footer img {
    width: 80%;
  }

}