<div class="starter-template">
	<div class="container">
		<div class="jumbotron">
			<h1>Doe Sangue</h1>
			<p>Agende agora sua doação e ajude muitas pessoas</p>
			<p>
				<a ng-class="{active: activetab == '/agendar'}"
					class="btn btn-lg btn-success" role="button" href="#/agendar">Agendar
					Doação</a>
			</p>
		</div>
		<div>
			<div class="row">
				<div class="col-xs-6">
					<h2>Laboratório</h2>
					<p>Lista de laboratórios conveniados</p>
					<p>

						<a ng-class="{active: activetab == '/listaLaboratorio'}"
							href="#/listaLaboratorio" role="button" class="btn btn-primary">
							Laboratórios </a>
					</p>
				</div>

				<div class="col-xs-6">
					<h2>Coleta de Sangue</h2>
					<p>Registro Sangue</p>
					<p>
						<a role="button" href="#" class="btn btn-primary">Coletar de Sangue</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>