<div class="jumbotron jumbomain">
	<div class="container">
		<h1>Doe Sangue</h1>
		<p><img src="imagens/sangue.jpg" alt="PUC MINAS"></p>
		<p>Agende agora sua doação e salve vidas.</p>
	</div>
</div>

<div id="get-involved">
	<div class="container homepage">
		<h2>Funcionalidades</h2>
		<hr />
		<div class="row">

			<div class="col-md-4">
				<h3>Agendamento</h3>
				<span class="fa-stack fa-4x"> <i
					class="fa fa-circle fa-stack-2x"></i> <i
					class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
				</span>
				<p>Agende uma data para a coleta de sangue em um dos laboratórios</p>
				<p>
					<a class="btn btn-default ng-class=" {active: activetab==
						'/agendar'}" role="button" href="#/agendar">Agendar</a>
				</p>
			</div>

			<div class="col-md-4">
				<h3>Laboratórios</h3>
				<span class="fa-stack fa-4x"> <i
					class="fa fa-circle fa-stack-2x"></i> <i
					class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
				</span>
				<p>Lista de todos os laboratórios conveniados para coleta de
					sangue.</p>
				<p>
					<a class="btn btn-default"
						ng-class="{active: activetab == '/listaLaboratorio'}"
						href="#/listaLaboratorio" role="button" class="btn btn-primary">
						Laboratórios </a>
				</p>

			</div>

			<div class="col-md-4">
				<h2>Registro Sangue</h2>
				<span class="fa-stack fa-4x"> <i
					class="fa fa-circle fa-stack-2x"></i> <i
					class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
				</span>

				<p>Coleta de sangue realizada por funcionários capacitados.</p>
				<p>
					<a class="btn btn-default"
						ng-class="{active: activetab == '/adicionaBolsa'}"
						href="#/adicionaBolsa" role="button" class="btn btn-primary">
						Registra Bolsa </a>
				</p>

			</div>
		</div>
	</div>
</div>
