<script type="text/javascript">
	$(document).ready(function() {
		$("#cep_laboratorio").mask("99.999-999", {
			placeholder : " "
		});
	});
	$(document).ready(function() {
		$("#cnpj_laboratorio").mask("99.999.999/9999-99", {
			placeholder : " "
		});
	});
</script>
<div class="container">
	<div id="formLaboratorio">
		<h4>Laboratório: Preencha os dados</h4>
		<hr />
		<div class="alert alert-info" ng-show="message.length>0">
			{{message}}</div>
		<form name="formLaboratorio" class="form-horizontal">

			<div ng-show="formLaboratorio.nome_laboratorio.$dirty"
				ng-messages="formLaboratorio.nome_laboratorio.$error">
				<div ng-message="required" class="alert alert-danger">Por
					favor preencha o campo nome.</div>
				<div ng-message="minlength" class="alert alert-danger">O campo
					deve possuir no mínimo 6 caracteres.</div>
			</div>
			<div class="form-group">
				<div class='col-sm-6'>
					<label>Nome:</label> <input type="text" class="form-control"
						id="nome_laboratorio" name="nome_laboratorio"
						placeholder="Adicione o nome" ng-model="laboratorio.nome"
						ng-required="true" />
				</div>
			</div>
			
			<div ng-show="formLaboratorio.cnpj_laboratorio.$dirty"
				ng-messages="formLaboratorio.cnpj_laboratorio.$error">
				<div ng-message="required" class="alert alert-danger">Por
					favor preencha o campo cnpj.</div>
			</div>
			<div class="form-group">
				<div class='col-sm-6'>
					<label>Cnpj:</label> <input type="text" class="form-control"
						id="cnpj_laboratorio" name="cnpj_laboratorio"
						placeholder="Adicione o cnpj" ng-model="laboratorio.cnpj"
						ng-required="true" />
				</div>
			</div>


			<div ng-show="formLaboratorio.email_laboratorio.$dirty"
				ng-messages="formLaboratorio.email_laboratorio.$error">
				<div ng-message="required" class="alert alert-danger">Por
					favor preencha o campo nome.</div>
				<div ng-message="minlength" class="alert alert-danger">O campo
					deve possuir no mínimo 6 caracteres.</div>
			</div>
			<div class="form-group">
				<div class='col-sm-6'>
					<label>Email:</label> <input type="text" class="form-control"
						id="email_laboratorio" name="email_laboratorio"
						placeholder="Adicione o email" ng-model="laboratorio.email"
						ng-required="true" />
				</div>
			</div>

			<div ng-show="formLaboratorio.cep_laboratorio.$dirty"
				ng-messages="formLaboratorio.cep_laboratorio.$error">
				<div ng-message="required" class="alert alert-danger">Por
					favor preencha o campo nome.</div>
				<div ng-message="minlength" class="alert alert-danger">O campo
					deve possuir no mínimo 6 caracteres.</div>
			</div>
			<div class="form-group">
				<div class='col-sm-6'>
					<label>Cep:</label> <input type="text" class="form-control"
						id="cep_laboratorio" name="cep_laboratorio"
						placeholder="Adicione o cep" ng-model="laboratorio.cep"
						ng-required="true" />
				</div>
			</div>

			<div ng-show="formLaboratorio.endereco_laboratorio.$dirty"
				ng-messages="formLaboratorio.endereco_laboratorio.$error">
				<div ng-message="required" class="alert alert-danger">Por
					favor preencha o campo nome.</div>
				<div ng-message="minlength" class="alert alert-danger">O campo
					deve possuir no mínimo 6 caracteres.</div>
			</div>
			<div class="form-group">
				<div class='col-sm-6'>
					<label>Endereço:</label> <input type="text" class="form-control"
						id="endereco_laboratorio" name="endereco_laboratorio"
						placeholder="Adicione o endereço" ng-model="laboratorio.endereco"
						class="validate" ng-required="true" />
				</div>
			</div>
			<div class="form-group">
				<div class='col-sm-6'>
					<button type="submit" class="btn btn-primary"
						ng-click="adicionaLaboratorio(laboratorio)"
						ng-disabled="formLaboratorio.$invalid">Cadastrar</button>
				</div>
			</div>
		</form>
	</div>

</div>
